/*.period is a class, # is Identifier*/
.TopContent {
    color: Green; /*Text Color*/
    font-size: 50px;
    width: 1024px;
    height: 135px;
    background-image: url('./images/winter.jpg');
}
.PrimaryNavigation {
    font-family: Arial;
    font-size: 24px;
    position: relative; /* relative to the last element */
    padding: 0 0 0 0;
    margin: 1px;
    line-height: 1.5em;
    left: -40px;
    top: -22px;
}
    .PrimaryNavigation li {
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    /*  anchor tag */
    .PrimaryNavigation a {
        display: block;
        color: #fff; /* text all channels = white*/
        text-decoration: none; /* turn off underline */
        font-weight: bold; /* bold the text */
        background: blue;
        margin: 0; /* no margin */
        padding: 0.25em .65em;
        border-left: 1px solid #000; /*border left side color black */
        border-top: 1px solid #000; /*border top side color black */
        border-right: 1px solid Lime;
    }

        .PrimaryNavigation a:hover {
            background: #bbb;
        }
